@font-face {
    font-family: queen;
    src: url(fonts/Quesha-gndR.ttf);
}

.space {
    margin-left: 40px;
  }
 
  #navLinks{
    font-family: queen;
    font-size: 30px;
    text-align: center;
    margin-top: -8px;
    margin-left: -8px;
    background-color: black;
    height: 100px;
    width: 1599px;
  }

  #navLinks .indent {
    padding-top: 35px;
  }

  a{
    text-decoration: none;
  }